<header>
    <div class="container">
        <nav>
            <a href="/" class="nav-brand">User Management</a>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/user">Users</a></li>
                <li><a href="/user/new">Add User</a></li>
            </ul>
        </nav>
    </div>
</header> 